<div class="timing-options">
{{#each options.timing as |timing|}}
  <input type="radio" name="timing" value="{{timing}}">{{timing}}
{{/each}}
</div>

<div class="section-options">
{{#each options.sections as |section|}}
  <input type="radio" name="section" value="{{section}}">{{section}}
{{/each}}
</div>
