<h4>This is a session</h4>
<table class="table">
<thead>
  <!-- Todo: Loop over properties and put here -->
  <th></th>
</thead>
<tbody>
  <!-- {{#each model as |problem|}}
    <td>{{problem}}</td>
  {{/each}} -->
</tbody>
</table>
{{outlet}}
