<h1>About</h1>
<div class="row">
  <div class="col-sm-12">
    <p>This site was created to provide students with an all-inclusive GRE test prep including:</p>
    <ul>
      <li>1000+ GRE Practice Problems</li>
      <li>Advanced analytics around problems such as performance improvement, which problems you have difficulty with, etc.</li>
      <li>Personally tailored suggestions on improving test taking skills</li>
      <li>Test taking strategies</li>
      <li>One on one private tutoring via video chat</li>
    </ul>
  </div>
</div>
